USE [master]
GO
/****** Object:  Database [BDVIKIDS]    Script Date: 10/07/2025 03:53:21 ******/
CREATE DATABASE [BDVIKIDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDVIKIDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDVIKIDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDVIKIDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDVIKIDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDVIKIDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDVIKIDS]
GO
/****** Object:  User [cesar]    Script Date: 10/07/2025 03:53:22 ******/
CREATE USER [cesar] FOR LOGIN [cesar] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cesar]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 10/07/2025 03:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[administrador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[contraseña] [nvarchar](255) NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[telefono] [varchar](20) NULL,
 CONSTRAINT [PK__administ__3213E83F4866A2AB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 10/07/2025 03:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[dni] [char](8) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](255) NULL,
	[fecha_registro] [datetime] NULL,
	[estado] [varchar](10) NULL,
 CONSTRAINT [PK__cliente__3213E83F09DF92D3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 10/07/2025 03:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[nombre_producto] [varchar](100) NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__detalle___3213E83FA3370B57] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[producto]    Script Date: 10/07/2025 03:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[stock] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[categoria] [nvarchar](100) NULL,
	[marca] [nvarchar](100) NULL,
	[unidad] [nvarchar](50) NULL,
	[imagen] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK__producto__3213E83F1C5D06A7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 10/07/2025 03:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_admin] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[descuento] [decimal](10, 2) NULL,
	[igv] [decimal](10, 2) NULL,
	[tipo_pago] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](50) NULL,
	[numero_comprobante] [varchar](20) NULL,
	[tipo_comprobante] [varchar](20) NULL,
 CONSTRAINT [PK__venta__3213E83F63B52CCF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[administrador] ON 

INSERT [dbo].[administrador] ([id], [nombre], [apellido], [usuario], [contraseña], [fecha_creacion], [telefono]) VALUES (1, N'Cesar', N'Suclupe', N'admin', N'$2a$12$v.AIxCALqSEtf2vmDuqR6uwdLgPzQ5B6Xb.QncdCTGjCErva2kclC', CAST(N'2025-06-29T17:06:50.497' AS DateTime), NULL)
INSERT [dbo].[administrador] ([id], [nombre], [apellido], [usuario], [contraseña], [fecha_creacion], [telefono]) VALUES (2, N'Cesar', N'suclupe', N'admin2', N'$2a$12$2ZVwurOPV54W/VPkaUcTrO10cslXMYcDkrUI6And8DRFlc0TXgIkS', CAST(N'2025-07-06T17:47:37.767' AS DateTime), N'937743279')
INSERT [dbo].[administrador] ([id], [nombre], [apellido], [usuario], [contraseña], [fecha_creacion], [telefono]) VALUES (5, N'cesar', N'suclupe', N'cesar', N'$2a$12$lVPF.zfq8zWOmBoXmFMOOOkv.j8wtk.DrkOfGKF7UyuAtrSmUKMr.', CAST(N'2025-07-06T18:00:56.830' AS DateTime), N'937743279')
SET IDENTITY_INSERT [dbo].[administrador] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id], [nombre], [apellido], [dni], [telefono], [direccion], [fecha_registro], [estado]) VALUES (1, N'Varios', N'Clientes', N'00000000', N'', N'iewruewiriewr', CAST(N'2025-07-09T23:18:19.827' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([id], [codigo], [nombre], [descripcion], [stock], [precio], [categoria], [marca], [unidad], [imagen], [activo], [fecha_creacion]) VALUES (1, N'uhgvjh', N'jknbjhg', N'jgjkbkjnklhhjk', 50, CAST(20.00 AS Decimal(10, 2)), N'Ropa', N'FantasyKids', N'Par', N'5_Mesa de trabajo 1.jpg', 1, CAST(N'2025-06-29T18:32:05.510' AS DateTime))
INSERT [dbo].[producto] ([id], [codigo], [nombre], [descripcion], [stock], [precio], [categoria], [marca], [unidad], [imagen], [activo], [fecha_creacion]) VALUES (3, N'VJAR32508', N'PANTALON JEANS FLEER ANGIE', N'MODELO FLEER TALLA 08 - 18', 20, CAST(40.00 AS Decimal(10, 2)), N'PANTALON', N'VIKIDS', N'Docena', N'alb1.jpg', 1, CAST(N'2025-06-29T18:40:36.473' AS DateTime))
INSERT [dbo].[producto] ([id], [codigo], [nombre], [descripcion], [stock], [precio], [categoria], [marca], [unidad], [imagen], [activo], [fecha_creacion]) VALUES (5, N'EST35208', N'PANTALON ESTER', N'JEANS PALAZZO CON STRASS TALLA 18', 20, CAST(60.00 AS Decimal(10, 2)), N'Ropa', N'FantasyKids', N'Unidad', N'IMG-20250526-WA0009.jpg', 1, CAST(N'2025-07-06T22:42:54.837' AS DateTime))
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__administ__9AFF8FC68E6DEF3D]    Script Date: 10/07/2025 03:53:22 ******/
ALTER TABLE [dbo].[administrador] ADD  CONSTRAINT [UQ__administ__9AFF8FC68E6DEF3D] UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cliente__D87608A7CC440309]    Script Date: 10/07/2025 03:53:22 ******/
ALTER TABLE [dbo].[cliente] ADD  CONSTRAINT [UQ__cliente__D87608A7CC440309] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producto__40F9A206D32DE8B1]    Script Date: 10/07/2025 03:53:22 ******/
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [UQ__producto__40F9A206D32DE8B1] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administrador] ADD  CONSTRAINT [DF_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[cliente] ADD  CONSTRAINT [DF__cliente__fecha_r__00200768]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[cliente] ADD  CONSTRAINT [DF__cliente__estado__4D5F7D71]  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF__producto__activo__778AC167]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF_producto_fecha]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__fecha__08B54D69]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__descuento__09A971A2]  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__igv__0A9D95DB]  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__estado__0B91BA14]  DEFAULT ('Emitido') FOR [estado]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK__detalle_v__id_pr__3D2915A8] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK__detalle_v__id_pr__3D2915A8]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK__detalle_v__id_ve__3C34F16F] FOREIGN KEY([id_venta])
REFERENCES [dbo].[venta] ([id])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK__detalle_v__id_ve__3C34F16F]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_admin] FOREIGN KEY([id_admin])
REFERENCES [dbo].[administrador] ([id])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_admin]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_cliente]
GO
/****** Object:  Statistic [PK__administ__3213E83F4866A2AB]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[administrador]([PK__administ__3213E83F4866A2AB]) WITH STATS_STREAM = 0x01000000010000000000000000000000978AC8D700000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000000E2A14000CB3000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [UQ__administ__9AFF8FC68E6DEF3D]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[administrador]([UQ__administ__9AFF8FC68E6DEF3D]) WITH STATS_STREAM = 0x01000000020000000000000000000000517CDD8F000000004302000000000000EB01000000000000E7030000E7000000640000000000000028D0000000000000380300003800000004000A00000000000000000000000000070000005EF81A010BB3000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000010000000000060410000803F0000000000002041000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000290000000000000067000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E0002000000400000000001050000000001000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK__cliente__3213E83F09DF92D3]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[cliente]([PK__cliente__3213E83F09DF92D3]) WITH STATS_STREAM = 0x0100000001000000000000000000000022D7FF9B00000000DB010000000000009B01000000000000380300003800000004000A000000000000000000000000000700000039633A0016B3000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [UQ__cliente__D87608A7CC440309]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[cliente]([UQ__cliente__D87608A7CC440309]) WITH STATS_STREAM = 0x01000000020000000000000000000000FC1CA064000000003B02000000000000E301000000000000AF030000AF000000080000000000000028D0000000000000380300003800000004000A0000000000000000000000000007000000EF9D120016B3000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000018000000000040410000803F000000000000004100008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005F0000000000000067000000000000006F000000000000000800000000000000100018000000803F000000000000803F3030303030303030040000FF010000000000000001000000010000002800000028000000000000000000000008000000303030303030303002000000400000000001080000000001000000000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK__detalle___3213E83FA3370B57]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[detalle_venta]([PK__detalle___3213E83FA3370B57]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_0000000B_74AE54BC]    Script Date: 10/07/2025 03:53:22 ******/
CREATE STATISTICS [_WA_Sys_0000000B_74AE54BC] ON [dbo].[producto]([activo]) WITH STATS_STREAM = 0x01000000010000000000000000000000F3D56FA700000000D801000000000000980100000000000068030000680000000100010000000000000000000000000007000000BA0E33010BB3000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001C0000000000000024000000000000002C000000000000000800000000000000100011000000803F000000000000803F0104000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__producto__3213E83F1C5D06A7]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[producto]([PK__producto__3213E83F1C5D06A7]) WITH STATS_STREAM = 0x010000000100000000000000000000000B57987800000000FA01000000000000BA01000000000000380300003800000004000A00000000000000000000000000070000000E2A14000CB3000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0300000004000002000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [UQ__producto__40F9A206D32DE8B1]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[producto]([UQ__producto__40F9A206D32DE8B1]) WITH STATS_STREAM = 0x01000000020000000000000000000000CBF05E4B00000000D3020000000000007B02000000000000E7030000E7000000640000000000000028D0000000000000380300003800000004000A0000000000000000005202000007000000699C8A0113B300000300000000000000030000000000000000000000ABAAAA3EABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000200000010000000AAAA9A410000404000000000555575410000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008B00000000000000F700000000000000FF00000000000000070100000000000018000000000000003F000000000000006200000000000000300010000000803F000000000000803F0400000100270045005300540033003500320030003800300010000000803F000000000000803F0400000100230075006800670076006A006800300010000000803F000000000000803F0400000100290056004A004100520033003200350030003800FF0100000000000000030000000300000028000000280000000000000000000000170000004500530054003300350032003000380075006800670076006A00680056004A0041005200330032003500300038000400000040000000008108000000810608000001090E00000003000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK__venta__3213E83F63B52CCF]    Script Date: 10/07/2025 03:53:22 ******/
UPDATE STATISTICS [dbo].[venta]([PK__venta__3213E83F63B52CCF]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0,AUTO_DROP = OFF
GO
USE [master]
GO
