USE [master]
GO
/****** Object:  Database [BDVIKIDS]    Script Date: 12/06/2025 17:56:28 ******/
CREATE DATABASE [BDVIKIDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDVIKIDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDVIKIDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDVIKIDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDVIKIDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDVIKIDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDVIKIDS]
GO
/****** Object:  User [cesar]    Script Date: 12/06/2025 17:56:28 ******/
CREATE USER [cesar] FOR LOGIN [cesar] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cesar]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 12/06/2025 17:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_name] [varchar](50) NOT NULL,
	[admin_usuario] [varchar](50) NOT NULL,
	[admin_password] [varchar](50) NOT NULL,
	[admin_phone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 12/06/2025 17:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[client_name] [varchar](50) NOT NULL,
	[client_lastname] [varchar](50) NOT NULL,
	[client_dni] [char](8) NOT NULL,
	[client_sex] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_pedido]    Script Date: 12/06/2025 17:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_pedido](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[cantidad] [money] NOT NULL,
	[precio_unitario] [money] NOT NULL,
	[precio_total] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entrega]    Script Date: 12/06/2025 17:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entrega](
	[entrega_id] [int] IDENTITY(1,1) NOT NULL,
	[entrega_departamento] [varchar](50) NULL,
	[entrega_provincia] [varchar](50) NULL,
	[entrega_distrito] [varchar](50) NOT NULL,
	[entrega_direccion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[entrega_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 12/06/2025 17:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[pedido_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_monto_total] [int] NOT NULL,
	[pedido_fecha] [datetime] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[entrega_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 12/06/2025 17:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_codigo] [varchar](50) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[product_stock] [int] NOT NULL,
	[product_precio] [int] NOT NULL,
	[product_categoria] [varchar](50) NOT NULL,
	[product_marca] [varchar](50) NOT NULL,
	[product_unidad] [varchar](50) NOT NULL,
	[imagen] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_pedido]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedido] ([pedido_id])
GO
ALTER TABLE [dbo].[detalle_pedido]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[producto] ([product_id])
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD FOREIGN KEY([entrega_id])
REFERENCES [dbo].[entrega] ([entrega_id])
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([client_id])
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([product_id])
GO
USE [master]
GO
